{% extends "templates/main.html.jinja2" %}
{% block body %}
<h1>About</h1>
{% include 'templates/menu.html.jinja2' %}
{% import 'data/staff.json' as json %}

<h3>Staff:</h3>
<ul class="staff">
  {% for person in json.staff %}
  <li>{{person.last}}, {{person.first}}</li>
  {% endfor %}
</ul>

{% endblock body %}
