{% extends "templates/main.html.jinja2" %}
{% block body %}

<h1>Home</h1>

{% include 'templates/menu.html.jinja2' %}

Hello, &ldquo;<strong>{{name or 'OOPS, you should see a name here'}}</strong>&rdquo;.

{% endblock body %}

